<h1>Sign In </h1>

<form role="form" action="<%= session_path %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"
  <div class="form-group form-inline">
    <input type="email" id="email" name="user[email]" placeholder="Email" class="form-control" />
    <input type="password" id="password" name="user[password]" placeholder="Password" class="form-control" />
  </div>
  <input type="submit" value="Login" />
  <input type="button" value="Cancel" />
</form>
<h6> - OR - </h6>
<%= link_to "Sign Up!", signup_path, class: "btn btn-lg btn-primary" %>
